body {
  margin: 0;
  padding-left: 48px;
  font-family: gill sans, sans-serif;
  background-color: whitesmoke;
}
.header {
  position: fixed;
  min-width: 100%;
  padding-top: 48px;
  background-color: inherit;
}
.movie-list {
  padding-top: 132px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: white;
}
.movie-tile {
  display: grid;
  grid-template-columns: 300px 12px;
  grid-template-rows: auto auto;
  height: fit-content;
  padding: 8px;
  margin: 20px;
  box-shadow: 2px 2px 12px grey;
}
.image-container:hover,
.image-container:focus {
  cursor: pointer;
}
.movie-image {
  display: block;
  width: 100%;
}
.attribution {
  display: flex;
}
.attribution-text {
  margin: 0;
  align-self: flex-end;
  height: fit-content;
  width: 100%;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 10px;
  filter: opacity(40%);
}
.title-container {
  grid-column: 1/ span 2;
  padding: 8px 0 4px;
  margin: 0;
}
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 200px;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
}
#player-container {
  height: fit-content;
  background-color: rgba(0,0,0,0.8);
}
#dismissPlayerControl {
  color: white;
  float: right;
}
#dismissPlayerControl:hover,
#dismissPlayerControl:focus {
  color: lightgrey;
  cursor: pointer;
}
